.container{
 height: 100%;
  width: 100%;
  margin-top: 20px;
  position: absolute;
  top: -70px;
}

.tab-wrapper{
  position: relative;
  width: 100px;
  top: 15%;
  left: 30%;
  z-index: 1;
}
.tab-btn{
  display: flex;
  flex-direction: column;
}
.fancy-tab-btn{
  outline: none;
  width: 30px;
  height: 80px;
  margin-top: 3px;
  border: solid 1px #2bd850;
  cursor: pointer;
}
.fancy-tab-btn:focus{
  color: #ffffff;
  background-color: #d67232;
}
.App {
  position: absolute;
  right: 38%;
  top: 10%;
  background: linear-gradient(45deg, #58ecdf, #2bd850) no-repeat;
  height: 90vh;
  font-family: 'Open Sans Condensed', sans-serif;
  max-width: 550px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 2px rgb(125, 165, 201);
}
.App > h1{
  text-align: center;
}
.fancy-input{
  margin: auto;
  text-align: center;
  padding: 30px;
  width: 50%;
  display: flex;
}
.fancy-input-bar{
  height: 30px;
  width: 100%;
  border: white;
  outline: none;
  border-radius: 10px;
}
.fancy-btn{
  width: 50px;
  margin-left: 5px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.fancy-table-wrapper{
  display: flex;
  justify-content: center;
}
.fancy-table{
  margin-top: 30px;
  width: 70%;
  text-align: center;
  height: 100%;
  border-spacing: 0px;
}
.table-input{
  height: 30px;
  border: white;
  outline: none;
}
.content-wrapper{
  height: auto;
  padding: 10px;
}
.content-wrapper > tr{
  height: 80px;
}
.content-wrapper > tr:hover{
  transform: scale(1.05);
  box-shadow:0px 0px 20px 2px rgba(48, 59, 59, 0.37);
  border-radius: 30px;
}
.content-wrapper > tr > td{
  /*border-bottom: solid 1px #f3a15e;*/
}

.c-icon{
  color:rgb(125, 165, 201);
  cursor:pointer;
  background:white;
  padding:10px;
  border-radius:50%;
  outline:none;
  box-shadow:0px 0px 20px 2px rgba(133, 177, 183, 0.37);
  border:solid 2px transparent;
  opacity: 0.5;
}
.c-icon:hover{
  box-shadow:0px 0px 20px 2px rgba(133, 177, 183, 0.37);
  background-color: #fafaff;
  opacity: 1;
}
.adjust-icon{
position: relative;
  top: 1%;
display: flex;
flex-direction: column;
}
.fa-check{
  position: absolute;
  bottom: -7px;
  right: 36%;
  height: 25px;
  width: 25px;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 50%;
  color: #bbbbf7;
}
.fa-check:hover{
  background-color: #b0792e;
  color: white;
}
.fa-trash-alt{
  position: absolute;
  bottom: -32px;
  right: 36%;
  height: 25px;
  width: 25px;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 50%;
  color: #bbbbf7;
}
.fa-trash-alt:hover{
  background-color: #b0792e;
  color: white;
}
